<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>DIY Roboter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/inout.js"></script>
    <script src="/js/index.js"></script>

</head>
<body>
<!-- Menu Builde -->
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark justify-content-center">
    <a class="navbar-brand" href="#">
        <img src="/img/Logo.png" alt="Logo" style="width:40px;">
    </a>
    <ul class="nav nav-pills" id="menuEntries" th:each="menuEntry:${menu}">
        <li class="nav-item">
            <a th:href="${menuEntry.href}">
                <button type="button" class="btn btn-secondary" th:text="${menuEntry.title}"></button>
            </a>
        </li>
    </ul>
</nav>
<!-- Menu Builde -->
<div class="container p-3 my-3 bg-dark text-white">
    <div class="row">
        <div class="col">
            <h1>DIY - Robot</h1>
            <p>built with <3 for everyone</p>
        </div>
        <div class="col">
            <p>Fahren: W,A,S,D, od. in kombination W+D für Kurven</p>
            <p>Roboter Arm: Zahlen 1-6 und 9 od. 0 für die Drehrichtung</p>
            <p>Laser: E</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Websocket</h3>
            <form class="form-inline">
                <div class="form-group">
                    <button id="connect" class="btn btn-primary" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-primary" type="submit">Disconnect</button>
                    <div id="connected" class="btn btn-primary">Disconnected</div>
                    <button id="startAutonomerModus" class="btn btn-primary" type="submit">Start Autonom!
                    </button>
                    <button id="stopAutonomerModus" class="btn btn-primary" type="submit">Stopp Autonom!
                    </button>
                    <div id="autonomMode" class="alert alert-success">Autonomer Modus aus!</div>
                </div>
            </form>
            <div class="row">
                <h3>Sensoren / Motoren</h3>
                <div class="col">
                    <div class="normal-text">
                        Abstand vorne [cm]
                        <kbd id="ultrasonicFront">n/a</kbd>
                    </div>
                    <div class="normal-text">
                        Richtung:
                        <kbd id="direction">Direction</kbd>
                    </div>
                    <br>
                    <br>
                    <div class="normal-text">
                        Laser
                        <kbd id="laser">n/a</kbd>
                    </div>
                    <div class="normal-text">
                        Lichtsensor
                        <kbd id="lightSensor">n/a</kbd>
                    </div>
                    <div class="normal-text">
                        RFID Sensor
                        <kbd id="rfidSensor">n/a</kbd>
                    </div>


                </div>
                <div class="col">
                    <div class="normal-text">
                        Abstand hinten [cm]
                        <kbd id="ultrasonicBack">n/a</kbd>
                    </div>
                    <div class="normal-text">
                        Roboter Arm Positionen:
                        <br>Servo 1: <kbd id="armMotors1">90.0</kbd>
                        <br>Servo 2: <kbd id="armMotors2">90.0</kbd>
                        <br>Servo 3: <kbd id="armMotors3">90.0</kbd>
                        <br>Servo 4: <kbd id="armMotors4">90.0</kbd>
                        <br>Servo 5: <kbd id="armMotors5">90.0</kbd>
                        <br>Servo 6: <kbd id="armMotors6">90.0</kbd>
                    </div>
                </div>

            </div>
        </div>

        <div class="col">
            <h3>Live</h3>
            <img id="webcam" class="rounded" width="640" height="480"
                 align="right" vspace="50" src="../static/img/dummy.png"
                 th:src="@{/img/dummy.png}"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Programm it</h3>
        <div class="col">
            <h3>Your code</h3>
            <div class="code" id="programcode"></div>
        </div>
        <div class="col">
            <label for="command">Aktion</label>
            <select name="command" id="command">
                <option value="FORWARD">Forward</option>
                <option value="BACKWARD">Backward</option>
                <option value="LEFT">Left</option>
                <option value="RIGHT">Right</option>

                <option value="DOWN">Down</option>
                <option value="UP">up</option>
                <option value="GRAP">Grap</option>
                <option value="OPEN">Open</option>

                <option value="ON">Laser On</option>
                <option value="OFF">Laser Off</option>
            </select>
        </div>
        <div class="col">
            <button class="btn btn-primary" onclick="addCode()">Add to program</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3>Run Code </h3>
            <button type="button" class="btn btn-success" onclick="sendCodeToRun()"> -> Run CODE</button>
            <button type="button" class="btn btn-danger" onclick="deleteCode()"> X Delete Code</button>

        </div>
    </div>
</div>

<div class="container" style="padding: 20px 20px 20px 20px">
    <div class="container p-3 my-3 bg-dark text-white">
        <footer>
            <div class="row">
                <div class="col">
                    <p>
                        All references by: <br></br> DIY Project | Nils Bott, Jan-Niklas
                        Sturm, Jens Freiburger
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>
